
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .container {
    /* margin: 20px auto; */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    

  }
  
  .container:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  
  /* Heading styles */
  h1 {
    color:  #1A8EFD;
  }
  h1.cont{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h2 {
    color: #ff5722;
    margin-top: 20px;
  }
  
  /* Paragraph styles */
  p {
    line-height: 1.5;
    display: flex;
    justify-content: center;
  }
  p.fit{
    display: flex;
    justify-content: space-between;
  }
  
  